albumentations
argh
attrs
certifi
charset-normalizer
click
click-plugins
cligj
configparser
cycler
docker-pycreds
einops
filelock
fonttools
fsspec
fvcore
gin-config
gitdb
GitPython
huggingface-hub
idna
imagecodecs
iopath
joblib
kiwisolver
lightning-utilities
matplotlib
mkl-fft
mkl-service
networkx
numpy
olefile
opencv-python-headless
opt-einsum
packaging
pandas
patsy
pgmpy
Pillow
portalocker
promise
protobuf
psutil
pyparsing
python-dateutil
pytz
PyYAML
rasterio
regex
requests
scikit-learn
scipy
sentry-sdk
shortuuid
six
smmap
snuggs
statsmodels
tabulate
termcolor
threadpoolctl
tifffile
timm
tokenizers
torch>=2.0.0
torchaudio
torcheval
torchmetrics
torchvision
tqdm
transformers
typing-extensions
tzdata
urllib3
wandb
yacs
yaspin
